@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 0, 0, 0;
  --foreground-start-rgb: 214, 219, 220;
  --foreground-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --background-rgb: 255, 255, 255;
    --foreground-start-rgb: 0, 0, 0;
    --foreground-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background : #FFFF;
}
img:not([alt]) {
  filter: blur(10px);
}


.custom-swiper-pagination-bullet {
  background-color: transparent !important; 
  border-width: 1px;
  border-color: #CBD5E0;
  border-style: solid;
  opacity: 1 !important;
  width : 12px !important;
  height : 12px !important;
}
.custom-swiper-pagination-bullet-active {
  background-color: #57007B !important;
  border: none;
}
